<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cards against humanity</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/player.js"></script>
    <script src="static/wakelock.js"></script>
</head>
<body style="height: 100%;">
<div id="center-container" class="h-100 row align-items-center container">
    <div class="col" style="text-align: center;">
        <div id="join-container" class="animate">
            <h3>Code</h3><input id="session-code"><br>
            <h3>Username</h3><input id="username"><br>
            <button id="create-session" class="btn btn-primary" style="width:183px; margin-top:10px;"
                    onclick="joinSession($('#session-code').val(), $('#username').val())">
                Join
            </button>
        </div>
        <div id="ready-container" class="animate fade-out" style="display: none;">
            <button id="ready" class="btn btn-primary" style="width:183px; margin-top:10px;"
                    onclick="setReady(true)">
                I'm ready
            </button>
        </div>
        <div id="wait-container" class="animate fade-out" style="display: none;">
            <h3>Waiting for other players</h3>
        </div>

        <div class="row justify-content-center card-container animate fade-out" id="card-container"
             style="display: none;">
        </div>
    </div>
</div>
</body>
</html>